#btn_phone {		 
	
	background-image: url("../images/btn_phone.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}

#btn_contacts {		 
	
	background-image: url("../images/btn_contacts.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#btn_message {		 
	
	background-image: url("../images/btn_message.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#btn_emergency {		 
	
	background-image: url("../images/btn_emergency.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#btn_economy {		 
	
	background-image: url("../images/btn_economy.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#btn_settings {		 
	
	background-image: url("../images/btn_settings.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}