body {
	
	background-image: url("../images/phone.png");
	background-repeat: no-repeat;
    background-size: 200px 400px;
}

button {
	
	width: 30px;
	height: 30px;
	margin: 6% 3%;
	border: none;
}

p {
	
	color: white;
	margin: 1px 1px;
	font-family: "Impact";
	
}

img {
	
    width: 159px;
	height: 15px;
	margin: 1px 1px;
}

#display {
	
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	border: 2px solid black;
	padding: 2px;	
	width: 160px;
	height: 300px;
	margin: 40px 8px;
	text-align: center;
}

#nav_button {
	
	width: 40px;
	height: 20px;
	color: white;
	margin: 35px 0px;
	border: 1px solid white;
	border-radius: 0.5em;	
	background-color: black;
}

#btn_home {
	
	width: 164px;
	height: 15px;
	margin: 168px -2px;
	color: white;
	background-color: black;
}