body {
    /*background-image: url("../images/background.png"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    
}

h1 {
	
	background-color: rgba(0, 0, 0, 0.5);	
    color: white;
	text-shadow: 3px 3px blue;
	padding: 5px;
	border: 2px solid white;
	border-radius: 0.5em 0.5em;
}

input {
	
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;	
}

input:focus {

	background-color: rgba(255, 225, 150, 0.8);
	border: 2px solid white;
	text-shadow: 1px 1px black;
}

img {
    width: 100%;
    height: auto;
}

#centered {
	
	border: 4px solid white;
	border-radius: 2em 2em;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 350px;
	margin: 10% auto;
	text-align: center;
}

#button {
	
    background-color: rgba(0, 0, 255, 0.5);
    border: 2px solid white;
	border-radius: 1em 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    background-color: green;
    color: white;
}

#rules {
	
	border: 4px solid white;
	border-radius: 2em 2em;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 500px;
	margin: 10% auto;
	text-align: center;
}

#rules_pre {
	
	background-color: rgba(255, 255, 255, 0.6);
}